body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e3d5d5;
  }
  
  .calculator {
    border: 2px solid #333;
    border-radius: 8px;
    padding: 34px;
    background-color: #79a38c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #display {
    width: 100%;
    margin-bottom: 9px;
    padding: 4px;
    font-size: 1.5em;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #7ddb80;
    color: white;
  }  